body{
    width: 80%;
    margin: auto;
}



h1{
    display: inline-block;
    font-size: 40px;
    
}

main{
    background-color: rgb(246, 248, 249);
}

.container{
    width: 70%;
    margin:auto;
    background: white;
}

p{
    display: inline-block;
}

.first{
    padding: 20px;
}

.second{
    padding: 20px;
}

.special1{
   
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
}

.special2{
    display: inline-block;
    width: 50px;
    height: 15px;
    border-radius: 35%;
    background-color: rgb(69, 171, 234);
    

}

.span-1{
    color: green;
}

.span-2{
    font-size: 15px;
    padding: 2px;
}
